*{
    margin:0;
    padding:0;
}

body{
    background-color: #0d1b2a;
    color: #e0e1dd;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px ;
    width: 100%;
    background-color: #1b263b;
    font-size: larger;
    
}

.left{
    font-size: 1.5rem;
    
}
nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 25px;
}
nav ul li a{
    text-decoration: none;
    color: #e0e1dd;
}
nav ul li a:hover{
    font-size: 1.22rem;
    color: #a7a4d2;
}

.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 25px;
    font-size: 2.1rem;
}
.first > div{
    width: 30%;
}
.rightsec img{
      margin: 50px 0;
      width: 100%;
}
#purple{
    color: #778da9;
}
#element{
    color: #778da9;
}
.outer{
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #1b263b;
    margin-right:40px;
    margin-top: 70px;
    height: 350px;
    width: 90%;
    filter: drop-shadow(16px 16px 20px rgb(16, 16, 28));
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.outer h1{
    margin-top: 30px;
    margin-bottom: 10px;
}
.outer>div{
    padding: 30px 30px 60px 30px;

}
.leftside{
width: 50%;
margin: 10px;
}
.rightside{
width: 50%;
margin: 10px;
}
.leftside img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.outer hr{
    border-width:1px;
    height: 90%;
    margin: 10px;
    border-color: #e0e1dd;
    align-self: center;
}
.super{
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: #1b263b;
    margin-left:110px;
    margin-top: 90px;
    margin-right: 0;
    height: 500px;
    width: 100%;
    filter: drop-shadow(16px 16px 20px rgb(16, 16, 28));
}
.super h1{
   margin-top: 30px;
   margin-bottom: 10px;
   text-align:right;
   padding: 20px 140px 20px 20px;
}
.box{
   background-color: #384b66;
   height: 300px;
   width: 260px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 15px;
   border-radius: 35px;
   
}
.box img{
   height: 120px;
   width: 120px;
   border-radius: 50%;
}   
.outerbox{
   display: flex;
   justify-content: space-evenly;
   align-content: center;
} 
.box div{
   text-align: center;
   padding: 10px;
}   
.box hr{
   border-width:1px;
   height: 90%;
   margin: 10px;
   border-color: #e0e1dd;
   align-self: center;
}
.upper{
    border-top-right-radius: 20%;
border-bottom-right-radius: 20%;
background-color: #1b263b;
margin-right:40px;
margin-top: 70px;
height: 400px;
width: 90%;
filter: drop-shadow(16px 16px 20px rgb(16, 16, 28));
}
.upper h1{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 25px;
}
.outerbox1 .horizontal{
    width: 90%;
    height: 4px;
    color: #e0e1dd;
    margin-left: 50px;
}
.outerbox1{
display: flex;
justify-content: space-evenly;
align-content: center;
flex-direction: column;
margin: 50px;
}
.ver{
display: flex;
justify-content: space-evenly;
align-content: center;
flex-direction: row
}
.ver .vertical{
border-width:1px;
height: 80px;
border-color: #e0e1dd;
align-self: center;
}
.des{
display: flex;
justify-content: space-evenly;
align-content: center;
flex-direction: row
}
.last{
    height: 70px;
    width: 100%;
    background-color: #1b263b;
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
   }
   .last i{
    margin: 5px;
   }
   .last a{
    color:#e0e1dd ;
    text-decoration: none;
   }
   .last hr{
    border-width:1px;
    height: 60%;
    border-color: #e0e1dd;
    align-self: center;
   }
   .leftsec button{
    background-color: #1b263b;
    color: #e0e1dd;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    font-size: 20px;
 }
 .leftsec button a{
    text-decoration: none;
    color: #e0e1dd;
 }